@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,400i,700');

html, body {
  font-size: 16px;
}

body {
  background: url("./assets/img/food.png");
  font-family: 'Titillium Web', sans-serif;
}

.img-styles {
  border-radius: 8px;
  border: 1px solid #ccc;
}

.mr-5 {
  margin-right: 5px;
}

.mr-10 {
  margin-right: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-40 {
  margin-top: 40px;
}

.btn {
  text-shadow: 0 0 3px #000000;
}

.cursor {
  cursor: pointer;
}

